# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variable files with secrets
*.tfvars
*.tfvars.json

# Override files (used locally for quick testing)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# Sensitive logs
*.plan
*.tfplan
